@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: lightgray;
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  width: 10px;
}
